.container {
    /* width: 1000px; */
    height: 900px;
    margin-inline: auto;
    border: 1px solid red;
    padding: 10px;
    display: flex;
}

.item {
    width: 200px;
    height: 150px;
    background-color: brown;
    color: #fff;
    font-size: 35px;
    margin: 30px;
}

.item:nth-child(3) {
    /* flex-grow: 3; */
    /* flex-grow: 8; */
    /* flex-grow: 2;
    flex-shrink: 10;
    flex-basis: 400px; */
}

.item:nth-child(2) {
    flex-grow: 4;
    flex-shrink: 3;
}

/* 
.item:nth-child(3){
    align-self: center;
} */